// MINI RESET CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // background: $color-1;
  width: 100%;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 0.15em;
  line-height: 1.2;
  transform: translateY(52%);
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}

hr{
  color: $color-3;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.b-s{box-shadow: $box-shadow;}
