@import "../utils/variables";
@import "../utils/mixins";

// PAGE ACCUEIL

.container {
  @include container(1200px, 0 auto);
}


h1#main-title{
  font-size: 3rem;
  margin: -60px 0 70px;
  width: 100%;
}
#main-title::before {
  content: "Concepteur ";
  animation: anim 8s infinite;
}

/* animation css */

@keyframes anim {
  0% {
   
    content: "Concepteur ";
  }

  50% {

    content: "Développeur ";
  }
}

.main-title {
  width: 100%;
  font-size: $font-size * 3;
  margin: 0 0 3rem 0;
}
.section-home {
  @include style-section(95%, 1200px, 300px, 25vh 2.5% 3rem, auto);
  @include display(flex, center, center, wrap);

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 45vh 0 3rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 55vh 0 3rem;
  }
  @media screen and (min-width: 1280px) {
    margin: 70vh 0 3rem;
  }
  & .article-home {
    @include style-article(100%, 2% 0, none);
    @media screen and (min-width: 768px) {
      width: 47%;
      margin: 1%;
    }
    @media screen and (min-width: 1024px) {
      width: 31%;
    }
    & .title {
      @include title(2rem, white, center);
    }
    & .content {
      @include content(1rem, white, 1rem, center);
    }
  }
}

// LES COMPETENCES

.img-size-1{
  width: 3rem;
}
.img-size-1-5{
  width: 4rem;
}
.img-size-2{
  width: 5rem;
}
.skills-icon{
  @include display(flex, center, center, wrap);
  &>img{
    margin: 1.5rem;
  }
}
.skills, .leisure, .training, .experience, .degree{ background-color: $color-2;}


.degree{margin:  0 0 50px 0;}
.size-1{
  height: 350px;
}
.size-2{
  height: 150px;
}

.display{
  width: 100%;
}


