@import "../utils/variables";
@import "../utils/mixins";

// PAGE ACCUEIL

.container {
  @include container(1200px, 0 auto);
}

.main-title{
  width: 100%;
  font-size: $font-size*3;
  margin: 0 0 3rem 0;
}
.section-home {
  @include style-section(95%, 1200px, 300px, 25vh 2.5% 3rem, auto);
  @include display(flex, center, center, wrap);

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 45vh 0 3rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 55vh 0 3rem;
  } 
  @media screen and (min-width: 1280px) {
    margin: 70vh 0 3rem;
  } 
  & .article-home {
    @include style-article(100%, 2% 0, $color-2, $box-shadow);
    @media screen and (min-width: 768px) {
      width: 47%;
      margin: 1% ;
    }
    @media screen and (min-width: 1024px) {
      width: 31%;
    }
    & .title {
      @include title(2rem, white, center);
    }
    & .content {
      @include content(1rem, white, 1rem, center);
    }
  }
}
