<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="slider">

    <input class="radio-size" type="radio" name="slider" id="slide-1" checked>
    <input type="radio" name="slider" id="slide-2">
    <input type="radio" name="slider" id="slide-3">
    <input type="radio" name="slider" id="slide-4">
    <input type="radio" name="slider" id="slide-5">

    <label for="slide-1" class="img-size" id="slide1">
        <img src="public/Front/images/dixit.jpg" alt="dixit">
    </label>
    <label for="slide-2" class="img-size" id="slide2">
        <img src="public/Front/images/les-loups-garous-de-thiercelieux.jpg" alt="les loups garous de thiercelieux">
    </label>
    <label for="slide-3" class="img-size" id="slide3"><img src="public/Front/images/festival-international-jeux-cannes-2022.png"
            alt="as d'or 2022"></label>
    <label for="slide-4" class="img-size" id="slide4"><img src="public/Front/images/4751807e7755674766f7f333c6293280f5ec.jpeg"
            alt="room 25"></label>
    <label for="slide-5" class="img-size" id="slide5"><img src="public/Front/images/a627e4e61139af43c26eced38db13e610a44.jpeg"
            alt="le mito"></label>

</div>
  
</body>
</html>